/output/out.jar
/.idea/
/target/
/TestJar/target/
/TestJar/target/classes/
/TestJar/target/maven-status/
/TestJar/target/maven-archiver/
/src/test/java/obzcu/re/vm/tests/tests/jarfiles/
/src/test/java/obzcu/re/vm/tests/tests/classBytes/
calculations.txt
